
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>
<form action="/Tarjeta/Crear" method="post">

    <div class="form-group">
        <label>Entidad Financiera</label>
        <input type="text" class="form-control" name="EntidadFinanciera" placeholder="EntidadFinanciera">
        @Html.ValidationMessage("EntidadFinanciera")
    </div>

    <div class="form-group">
        <label>N° Tarjeta</label>
        <input type="text" class="form-control" name="NroTarjeta" placeholder="NroTrjetas">
        @Html.ValidationMessage("NroTrjetas")
    </div>

    <div class="form-group">
        <label>Año</label>
        <input type="text" class="form-control" name="AnoVencimiento" placeholder="AnoVencimiento">
        @Html.ValidationMessage("Ano")
    </div>

    <div class="form-group">
        <label>Mes</label>
        <input type="text" class="form-control" name="MesVencimiento" placeholder="MesVencimiento">
        @Html.ValidationMessage("Mes")
    </div>

    <button class="btn btn-primary">Guardar</button>

</form>